.card {
    border-radius: $border-radius;
    border: $border-width solid;   
    padding: 7px; 
    margin-top: 7px;
    margin-bottom: 7px;
}

.card .body {
    text-align: right;
    float: right;
}