  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: $clear-black; /* Fallback color */
    background-color: $black-opacity; /* Black w/ opacity */
}

/* The Close Button */
.close {
    color: $clear-grey;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: $clear-black;
    text-decoration: none;
    cursor: pointer;
} 
 
/* The Close Button */
.modal-image-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: $clear-grey;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.modal-image-close:hover,
.modal-image-close:focus {
    color: $white;
    text-decoration: none;
    cursor: pointer;
}

 /* Modal Header */
 .modal-header > * {
    padding: $padding;
}

/* Modal Body */
.modal-body {padding: $padding;}

/* Modal Footer */
.modal-footer {
    padding: $padding;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: $white;
    margin: auto;
    margin-top: 5%;
    // padding: $padding;
    border: 1px solid $clear-black;
    border-radius: 7px;
    width: 80%;
    box-shadow: 0 4px 8px 0 $black-opacity,0 6px 20px 0 $black-opacity;
    animation-name: zoom;
    animation-duration: $transition-time;
}

// .modal-image-close + .modal-content {
//     width: auto;
//     text-align: center;
// }

#img01 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
} 

/* Modal Content (Image) */
// .modal-content {
//     margin: auto;
//     display: block;
//     width: 80%;
//     max-width: 700px;
// }

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: $white;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}



/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}