.progressBar {
    width: 100%;
    background-color: $dark-white;
    margin: $margin 0;
    border-radius: $border-radius;
}
.progress {
    height: 5px;
    border-radius: $border-radius;
}
.progress.primary {
    background-color: $blue;
}
.progress.success {
    background-color: $green;
}
.progress.warning {
    background-color: $yellow;
}
.progress.danger {
    background-color: $red;
}
.progress.dark {
    background-color: $grey;
}


