.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}
  
  /* Hide default HTML checkbox */
.switch input {display:none;}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $red;
    -webkit-transition: $transition-time;
    transition: $transition-time;
}

input:disabled + .slider {
    background-color: $mid-red;
    cursor: default;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: $white;
    -webkit-transition: $transition-time;
    transition: $transition-time;
}
  
input:checked + .slider {
    background-color: $blue;
}
input:checked:disabled + .slider {
    background-color: $mid-blue;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px $blue;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
} 