 /* Pagination links */
 .pagination * {
    color: black;
    // float: center;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color $transition-time $transition-type;
    border-radius: 50%;
    display: inline-block;
}

/* Style the active/current link */
.pagination .active {
    background-color: $blue;
    color: $white;
    border-radius: 50%;
}

/* Add a grey background color on mouse-over */
.pagination *:hover:not(.active) {
    background-color: $dark-white;
    color: $white;
} 

.dot {
    cursor: pointer;
    height: 7px;
    margin: 0 2px;
    background-color: $clear-grey;
    border-radius: 50%;
    display: inline-block;    
  }