$border-radius: 4px; //border radius for all elements
$border-width: 1px; //border width for alerts, cards, and badges
$form-element-height: 38px; //height for forms elements (inputs, buttons)
$transition-time: .7s; //transition time for all transitions
$transition-type: ease-out; //transition type for all transitions
$padding: 20px; //padding for buttons, alerts, cards, notes
$big-padding: 35px; //padding for checkbox text
$margin: 10px; //margin for progressbar, cards, alerts, 
